#display {
    cursor:  auto;
    margin: auto;
    width: 100%;
    position: relative;
}

#active {
    color: red;

}

ul {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    list-style: none;
}

.active {
    line-height: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#title {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: stretch;
}
